/* body {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 80%; color: #333333; margin:0;}*/
html, body{ 
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.host {
	width: 100%; 
    height: 100%;
	background-color: #202020;
}
/*h2 {color: black; border-bottom: thin #999999 solid; padding-bottom: 15px;}*/
/* div {position: relative; overflow: hidden;} */
/*#wpfeHost {display: none;}
#flashHost {display: none;}*/
#fps {width: 100px; padding: 5px; z-index: 1000; position: relative; overflow: hidden; color:white;}
#dhtml_ball_0 {z-index: 0;}
/*span {cursor: hand; padding: 8px; margin: 2px; background-color: #ddddff; vertical-align:middle; display: block; float: left;}*/

/* Put Application specific CSS here. */
.showBall {
	opacity: 1;
}

.hideBall {
	opacity: 0;
}

.BallSlider {
  background-image: url(../images/smallball.png);
  width: 16px;
  height:16px;
  float: left;
  -webkit-transition: opacity .25s ease-in;
}
.slider{
    margin-left:20px;
    margin-right:20px;
    margin-top:8px;
}
.scene-footer {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	-webkit-border-image: url(../images/fade-bottom-light-30px.png) 35 0 0 0 repeat repeat;
	border-width:35px 0px 0px 0px;
	-webkit-palm-mouse-target: ignore;
}
.scene-footer-wrapper{
	margin-top:-10px;
}
.scene-footer-spacer{
	padding-bottom:65px;	
}
.scene-fade-top {
	position: fixed; 
	top: 0; 
	z-index: 100000;
	height: 54px; 
	width: 100%;
	background: url(../images/scene-fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.palm-dark .scene-fade-top {
	background-image: url(../images/scene-fade-top-dark.png);
}

.scene-fade-bottom {
	position: fixed; 
	bottom: 0; 
	z-index: 100000;
	height: 54px; 
	width: 100%;
	background: url(../images/scene-fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.palm-dark .scene-fade-bottom {
	background-image: url(../images/scene-fade-bottom-dark.png);
}

.palm-page-header .icon.prefs {
	background-image: url(../images/prefs-icon.png);
}

.start-button {
    background-image: url(../images/play-button.png);
}

   